<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSE 477 Homework 1 Joseph Nagy</title>

    <link rel="icon" href="static/main/images/NJlogo.ico" type="image/x-icon">

    <!-- link to the css stylesheets-->
    <link href="static/main/css/base.css", rel="stylesheet">
    <link href="static/main/css/main.css", rel="stylesheet">
    <link href="static/main/css/header.css", rel="stylesheet">
    <link href="static/main/css/footer.css", rel="stylesheet">
    <link href="static/main/css/navbar.css", rel="stylesheet">

    <!-- link to scripts -->
    <script src="static/main/js/nav-toggle.js" defer></script>
</head>

<body>

    <!-- Header & Nav Bar -->
    <header class="header">
    </header>

    <section class="nav-bar-container">
        <div class="title-container">
            <h1 id="title"><a href="home.html">CSE 477 Assignment 1</a></h1>
        </div>

        <nav class="nav">
            <div class="nav-hamburger">
                <div class="hamburger"></div>
            </div>
            <ul id="main-nav">
                <li><a href="home.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="static/main/files/Resume.pdf" target="_blank">Resume</a></li>
                <li id="text-li"><a href="https://www.linkedin.com/in/joseph-nagy-73919a20a/" target="_blank">Linked-In</a></li>
                <li id="icon-li"><a href="https://www.linkedin.com/in/joseph-nagy-73919a20a/" target="_blank"><img id="linked-in-icon" src="static/main/images/social-linkedin.png" /></a></li>  
            </ul>
        </nav>
    </section>

    <!-- Home Page Content -->
    <main id="main">
        <section class="main-content">
            <!-- 2 column layout -->
            <div class="col-container">
                <div class="col about">
                </div>
                <div class="col">
                    <div class="about-me-desc">
                        <h1 id="about-me-name">Joseph Nagy</h1>
                        <p>I am a Senior Computer Science Student at Michigan State University. During my time at MSU, I've gained an exceptional interest
                            in Web Development and design. Currently, I am working as an intern for a local Website Development firm where I have gotten 
                            the chance to design, develop, and deploy websites for municipalities and local businesses. I am working along side
                            graphic designers, and other developers to create ADA compliant user-friendly interfaces to improve the accessability for lots of people!
                            <br><br>
                            In my free time I enjoy mountain biking at parks around Michigan, Rock Climbing, and Cooking.
                        </p>
                    </div>
                </div>
            </div>

            <!-- fun fact -->
            <div class="fun-fact">
                <h1 id="fun-fact-header">A Fun Fact About Me</h1>
                <p>I drive a Honda Civic older than me but I still love it.</p>
            </div>
        </section>
    </main>

    <!-- Footer Content -->
    <footer class="footer">
        <p id="footer-text">©2022 Joseph Nagy</p>
    </footer>
</body>
</html>