<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--<meta http-equiv="refresh" content="5">-->
            <title>CSE 477 Homework 1 Joseph Nagy</title>

            <!-- link to the css stylesheets-->
            <link href="static/main/css/base.css", rel="stylesheet">
            <link href="static/piano/css/piano.css", rel="stylesheet">
            <link href="static/main/css/header.css", rel="stylesheet">
            <link href="static/main/css/footer.css", rel="stylesheet">
            <link href="static/main/css/navbar.css", rel="stylesheet">

            <!-- link to scripts -->
            <script src="static/piano/js/piano.js" defer></script>
            <script src="static/main/js/nav-toggle.js" defer></script>
        </head>

        <body>

            <!-- Header & Nav Bar -->
            <header class="header">
            </header>

            <section class="nav-bar-container">
                <div class="title-container">
                    <h1 id="title"><a href="home.html">CSE 477 Assignment 1</a></h1>
                </div>

                <nav class="nav">
                    <div class="nav-hamburger">
                        <div class="hamburger"></div>
                    </div>
                    <ul id="main-nav">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="static/main/files/Resume.pdf" target="_blank">Resume</a></li>
                        <li id="text-li"><a href="https://www.linkedin.com/in/joseph-nagy-73919a20a/" target="_blank">Linked-In</a></li>
                        <li id="icon-li"><a href="https://www.linkedin.com/in/joseph-nagy-73919a20a/" target="_blank"><img id="linked-in-icon" src="static/main/images/social-linkedin.png" /></a></li>  
                    </ul>
                </nav>
            </section>

            <!-- Home Page Content -->
            <main id="main">
                <div class="poem-container">
                    <p>Behold piano great and old, it's master slumbers in far off cold, if you wish to see anew,
                        call out to it - we see you.
                    </p>
                    <hr>
                </div>
                <div class="piano-container" id="piano-container">
                    <div class="piano-title">
                        <h1 id="piano-header">The Great Old One</h1>
                    </div>
                    <div class="keys-container">
                        <div class="white A">
                            <div class="inner-container" id="inner-A">
                                <p>A</p>
                            </div> 
                        </div>
                        <div class="white S">
                            <div class="inner-container" id="inner-S">
                                <p>S</p>
                            </div> 
                        </div>
                        <div class="white D">
                            <div class="inner-container" id="inner-D">
                                <p>D</p>
                            </div> 
                        </div>
                        <div class="white F">
                            <div class="inner-container" id="inner-F">
                                <p>F</p>
                            </div> 
                        </div>
                        <div class="white G">
                            <div class="inner-container" id="inner-G">
                                <p>G</p>
                            </div> 
                        </div>
                        <div class="white H">
                            <div class="inner-container" id="inner-H">
                                <p>H</p>
                            </div> 
                        </div>
                        <div class="white J">
                            <div class="inner-container" id="inner-J">
                                <p>J</p>
                            </div> 
                        </div>
                        <div class="white K">
                            <div class="inner-container" id="inner-K">
                                <p>K</p>
                            </div> 
                        </div>
                        <div class="white L">
                            <div class="inner-container" id="inner-L">
                                <p>L</p>
                            </div> 
                        </div>
                        <div class="white semi">
                            <div class="inner-container" id="inner-semi">
                                <p>;</p>
                            </div> 
                        </div>

                        <div class="black W">
                            <div class="inner-container" id="inner-W">
                                <p>W</p>
                            </div> 
                        </div>
                        <div class="black E">
                            <div class="inner-container" id="inner-E">
                                <p>E</p>
                            </div> 
                        </div>
                        <div class="black T">
                            <div class="inner-container" id="inner-T">
                                <p>T</p>
                            </div> 
                        </div>
                        <div class="black Y">
                            <div class="inner-container" id="inner-Y">
                                <p>Y</p>
                            </div> 
                        </div>
                        <div class="black U">
                            <div class="inner-container" id="inner-U">
                                <p>U</p>
                            </div> 
                        </div>
                        <div class="black O">
                            <div class="inner-container" id="inner-O">
                                <p>O</p>
                            </div> 
                        </div>
                        <div class="black P">
                            <div class="inner-container" id="inner-P">
                                <p>P</p>
                            </div> 
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer Content -->
            <footer class="footer">
                <p id="footer-text">©2022 Joseph Nagy</p>
            </footer>

        </body>
    </html>