.leaderboard-container {
    margin: 50px auto;
    width: 80vw;
    max-width: 1200px;
}

.leaderboard-container h2, .leaderboard-container h4, .leaderboard-container p {
    text-align: center;
}

.leaderboard-container p {
    padding-top: 2em;
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-item {
    word-break: break-all;
    margin-bottom: 15px;
}

.links {
    text-decoration: underline;
    color: #b74747;
    transition: color 0.25s linear;
}